.Rooms .row{
  margin:0px;
  position:relative;
}
.Rooms .content{
  width: 100%;
}
.Rooms .bottomRight-absolute{
  position: absolute;
  bottom: 20px;
  right: 0px;
}
.Rooms>.row>.header{
  float:left;
  width: 100%;
  border-bottom: 1px solid #cecece;
  margin-bottom:10px;
}
.Rooms>.content-container{
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.Rooms>.row>.header>h4{
  float:left;
  cursor:pointer;
  font-weight: bold;
}
