.BoxCard{
    height: 300px;
    background: #fff;
    border-radius: 10px;
    padding:10px;
    border:1px solid #cecece;
    box-shadow: 0px 0px 5px #cecece;
}
.BoxCard>.header{
  float:left;
  width: 100%;
  border-bottom: 1px solid #cecece;
}
.BoxCard>.header>h4{
  float:left;
  cursor:pointer;
  font-weight: bold;
}
.BoxCard>.header>i{
  float: right;
  cursor:pointer;
}
.content-label{
  font-weight: 600;
}
